<div class="card card--{{ variante() }}" [class.card--auto]="autoAltura()">
  @if (titulo()) {
    <div class="card-header">
      @if (icono()) {
        <span class="card__icono">
          <i class="bi bi-{{ icono() }}"></i>
        </span>
      }
      <span class="card-header__titulo">{{ titulo() }}</span>
      <ng-content select="[card-header-accion]" />
    </div>
  }
  <div class="card-body">
    <ng-content />
  </div>
  @if (tieneFooter()) {
    <div class="card-footer bg-body">
      <ng-content select="[card-footer]" />
    </div>
  }
</div>
