<nav class="pnav">
  <div class="pnav__contenedor">
    <a routerLink="/" class="pnav__marca">
      <span class="pnav__insignia">
        <i class="bi bi-house-door-fill"></i>
      </span>
      Propify
    </a>

    <div class="pnav__enlaces">
      <a routerLink="/arriendos" routerLinkActive="pnav__link--activo" class="pnav__link">Arriendos</a>
      <a routerLink="/planes" routerLinkActive="pnav__link--activo" class="pnav__link">Planes</a>
      <a routerLink="/nosotros" routerLinkActive="pnav__link--activo" class="pnav__link">Nosotros</a>
      <a routerLink="/contacto" routerLinkActive="pnav__link--activo" class="pnav__link">Contacto</a>
    </div>

    <div class="pnav__acciones">
      <a routerLink="/login" class="pnav__link pnav__link--ingresar">Ingresar</a>
      <a routerLink="/registro" class="pnav__cta">Crear cuenta</a>
      <app-theme-toggle />
    </div>
  </div>
</nav>
